<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Card</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>/
    <div class = "Container" style="vertical-align:top">
        <div class="row">
            <div class="col-12 d-felx flex-row">
                <div>Ramu </div>
            </div>
        </div>
</div>
</div>
    <!-- <table>
        <tr>
            <div class = "text-center">
            <td class = "Name"> Ramu </td>
            <td class=" Branch"> Kurnool</td>
            </div>
        </tr>
    </table> -->
</body>
</html>