<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="template.css">
</head>
<body>
        <table class="table1">
                <tr class="column_header">
                    <th>Teams</th>
                    <th>matched played</th>
                    <th>Matches own</th>
                </tr>
                <tr>
                    <td class = "data_cell">Royal</td>
                    <td class = "data_cell"> 7 </td>
                    <td class = "data_cell"> 6 </td>
                </tr>
                <tr>
                    <td class = "data_cell">Mumbai</td>
                    <td class = "data_cell"> 6 </td>
                    <td class = "data_cell"> 6 </td>

                </tr>
                <tr>
                    <td class = "data_cell">chennai</td>
                    <td class = "data_cell"> 6 </td>
                    <td class = "data_cell"> 5 </td>
                </tr>
                <tr>
                    <td class = "data_cell">Royal</td>
                    <td class = "data_cell"> 7 </td>
                    <td class = "data_cell"> 6 </td>
                </tr>
                <tr>
                    <td class = "data_cell">Mumbai</td>
                    <td class = "data_cell">  6 </td>
                    <td class = "data_cell"> 6 </td>

                </tr>
                <tr>
                    <td class = "data_cell">chennai</td>
                    <td class = "data_cell"> 6 </td>
                    <td class = "data_cell"> 5 </td>
                </tr>

        </table>
</body>
</html>